@import url('fonts.googleapis.com');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4ad882;
    font-family: "Dancing Script", cursive;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: black;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
