@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

html {
  height: 100%;
  background: url('9188999.jpg') center/cover no-repeat fixed;
  background-color: #ffffff;
}
body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4ad882;
    font-family: "Dancing Script", cursive;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3.5em;
    color: black;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
