@import url('fonts.googleapis.com');
body {
 .background-container {
    /* Reference the image file path */
    background-image: url('webimages/background.jpeg'); 
    
    /* Ensure the container fills the viewport */
    height: 100vh; 
    
    /* Center the image and scale it to cover the entire container */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Dancing Script", cursive;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3.5em;
    color: black;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
