@import url('fonts.googleapis.com');
body {
  background-image: url("../webimages/background.jpeg");  
  background-size: cover; /* Optional: adjust size as needed */
  background-repeat: no-repeat; /* Optional: prevent image tiling */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Dancing Script", cursive;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3.5em;
    color: black;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
